<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="container">
      <br><br>
      <ng-progress></ng-progress>
      <h1>My Goals</h1>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <ul>
            <div *ngFor="let goal of goals; let i = index">
              <div>
                <p id={{i}} appStrikethrough>
                  {{ goal.id }} <b>{{ goal.name }}</b> Released on
                  <b>{{ goal.completeDate | date | uppercase }}</b>
                </p>
                <button (click)='goToUrl(goal.id)' class="btn btn-primary">
                  Click me
                </button>
                <button (click)="goalDelete(true)" class="btn btn-outline-danger">
                  Already done! <br />
                  Delete me then!
                </button>
              </div>
            </div>
          </ul>
          <p *ngIf="goals.length > 4">Many goals</p>
          <div class="row">
            <blockquote class="blockquote text-center">
              <p class="mb-0">{{quote.quote}}</p>
              <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <app-goal-form (addGoal) = "addNewGoal($event)"></app-goal-form>
        </div>
      </div>
    </div>
  </body>
</html>
