<br><br><br><br>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{goal.description}}</h5>
        <p class="card-text">This goal will be complete in <b>{{goal.completeDate|dateCount}} days</b>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <button (click)="goalDelete(true)" class="btn btn-outline-danger">
      Already done! <br />
      Delete me then!
    </button>
  </div>
</div>